@layer base {
  @font-face {
    font-family: 'Boogaloo';
    src: url(/src/assets/fonts/Boogaloo-Regular.ttf) format('TrueType');
  }
  @font-face {
    font-family: 'ComicNeue';
    src: url(/src/assets/fonts/ComicNeue-Regular.ttf) format('TrueType');
  }
  @font-face {
    font-family: 'Merienda-Regular';
    src: url(/src/assets/fonts/Merienda-Regular.ttf) format('TrueType');
  }
  @font-face {
    font-family: 'Squada One';
    src: url(/src/assets/fonts/SquadaOne-Regular.ttf) format('TrueType');
  }
}

.logo_type {
  font-family: 'Squada One';
  font-size: 4.5rem;
  padding: 0px;
  color: #003545;
  cursor: pointer;
}

.logo-memo {
  font-family: 'Merienda-Regular';
  font-size: 1.2em;
  font-style: italic;
  text-transform: capitalize;
  color: #003545;
}

.typo {
  font-family: 'Boogaloo';
  font-size: 2.2em;
  font-style: italic;
  text-transform: capitalize;
  color: #003545;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merienda-Regular';
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'ComicNeue';
  padding: 0px;
  margin: 0px;
}
