h1,
h2,
h3,
h4 {
  font-family: 'Merienda-Regular';
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p {
  font-family: 'Merienda-Regular';
  padding: 0px;
  margin: 0px;
}

/* Header style */

header {
  background-color: aliceblue;
  height: 280px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.topping {
  height: 220px;
  display: flex;
  flex-direction: row;
}

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.logo-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  font-family: SquadaOne;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #003545;
  cursor: pointer;
}

.logo-memo {
  font-family: 'Merienda-Regular';
  font-size: 1.2em;
  font-style: italic;
  text-transform: capitalize;
  color: #003545;
}

.sidemenu {
  flex: 0;
}

.nav-menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgb(0, 112, 164);
  color: white;
  list-style: none;
  padding-top: 4rem;
}

nav {
  margin: auto;
  width: 100%;
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

nav li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0px 40px;
  margin: 0px 10px;
  color: #fff;
  border: 1px solid #007396;
  transition: 0.2s ease-in-out;
  display: block;
}

nav li:hover {
  color: rgb(191, 236, 255);
  border: 1px solid #fff;
  transition: 0.2s ease-in;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    box-shadow: 0 0 20px #e4e4e4;
  }
  100% {
    box-shadow: 0 0 5px #cccccc;
  }
}
nav li:hover {
  animation: glowing 1500ms infinite;
}

/* Hamburger menu style */

.hamburger {
  position: fixed;
  z-index: 100;
  top: 16rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
  width: 60px;
}

.showMenu {
  transform: translateY(0);
}

.nav-link {
  text-decoration: none;
}

/* Main style */

main {
  background-color: rgb(255, 255, 255);
}

.introduction {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 30px 0px;
}

.content-header {
  padding: 20px 0px;
  width: 100%;
}

.content-header h3 {
  padding-left: 20px;
}

.portfolio-content,
.project-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-start: auto;
  gap: 10px;
  justify-items: center;
}

.portfolio-spec {
  display: flex;
  justify-content: center;
}

/* Portfolio / Product card design */

.product-link {
  text-decoration: none;
  color: #000;
}

.product-card {
  border-radius: 10px;
  margin: 15px;
  width: 280px;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgb(173, 173, 173) 0%,
    rgb(243, 243, 243) 75%
  );
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  border-radius: 10px;
  margin: 15px;
  width: 280px;
  height: 400px;
  background: linear-gradient(
    to top,
    rgb(182, 182, 182) 0%,
    rgb(233, 233, 233) 75%
  );
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.product-image {
  border-radius: 5px;
  /*     background-color: #cccccc; */
  margin-top: 5px;
  width: 95%;
  height: 200px;
}

.product-image img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.breaker {
  width: 95%;
  height: 2px;
  background-color: #d79d9d;
  margin: 4px 0px;
}

.product-text {
  text-align: center;
  width: 95%;
  max-height: 180px;
}

.product-text p {
  padding-top: 8px;
}

/* Details / Specific page of portfolio */

.product-big {
  border-radius: 10px;
  margin: 15px;
  width: 70%;
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgb(173, 173, 173) 0%,
    rgb(243, 243, 243) 75%
  );
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.product-bigimage {
  border-radius: 5px;
  background-color: #cccccc;
  margin-top: 5px;
  width: 95%;
  height: 40%;
}

.product-bigimage img {
  border-radius: 5px;
  width: 100%;
  max-height: 550px;
  object-fit: cover;
}

.product-bigtext {
  text-align: center;
  width: 95%;
  padding: 15px;
}

.product-bigtext h3 {
  padding: 10px;
}

.product-bigtext p {
  padding: 10px;
}

span {
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.product-big li {
  padding: 8px;
  text-align: center;
  display: block;
}

/* About */

.container {
  height: 100%;
}

.about p {
  text-align: left;
}

.about-img {
  border-radius: 400px;
  width: 60%;
}

.about-pic {
  text-align: center;
}

.profile-icon {
  text-align: center;
}

.profile-icon li {
  display: inline-block;
  padding: 20px;
}

.in {
  width: 36px;
}

/* Footer style */

footer {
  padding-top: 20px;
  border-top: 1px solid gray;
  height: 90px;
  border-radius: 0px 0px 10px 10px;
}

.footer-text {
  font-family: 'SquadaOne';
  font-size: 1.5em;
  text-transform: uppercase;
  color: #003545;
}

.footer-memo {
  font-family: 'Merienda-Regular';
  font-size: 1em;
  font-style: italic;
  text-transform: capitalize;
  color: #003545;
}

/* Icons */

.material-icons {
  padding: 0px;
}

.icon {
  font-size: 36px;
}

.github {
  padding-left: 3px;
}

/* Errors */

.error {
  border: 1px solid red;
  border-radius: 10px;
  background-color: #fffeeb;
  padding: 10px;
  width: 50%;
}
