/* Global icons style */

.material-icons {
  padding: 0px;
}

.icon {
  font-size: 36px;
  width: 36px;
  height: 33px;
}
.tech-stack_icons {
  width: 52px;
  height: 52px;
}

.github {
  padding-left: 3px;
  width: 36px;
}

.in {
  width: 36px;
}
