/* @tailwind base; */
@import 'tailwindcss/base';
@import '/src/assets/css/base/base.css';
/* @tailwind components; */
@import 'tailwindcss/components';
@import '/src/assets//css/components/components.css';
/* @tailwind utilities; */
@import 'tailwindcss/utilities';
@import '/src/assets//css/utilities/utilities.css';

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0px auto;
}

@layer base {
  header,
  main,
  footer {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
  }
}

@layer base {
  body {
    background-size: 10%;
    background: linear-gradient(
      to bottom,
      rgb(26, 26, 26) 0px,
      rgb(56, 56, 56) 220px,
      rgb(0, 112, 164) 220px,
      rgb(0, 78, 114) 270px,
      rgb(56, 56, 56) 270px,
      rgb(0, 0, 0) 100%
    );
  }
}

@media screen and (min-width: 700px) {
  header,
  main,
  footer {
    width: 90%;
  }
}

@media screen and (min-width: 1100px) {
  header,
  main,
  footer {
    width: 80%;
  }
}

h1 {
  font-family: SquadaOne;
}
